
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Campeonatos</title>
</head>
<body>
    <div>
        <h1>Campeonatos</h1>
 
        1951	Tigres del Licey<br />
        1953	Tigres del Licey<br />
        1954	Tigres del Licey<br />
        1963-64	Tigres del Licey<br />
        1969-70	Tigres del Licey<br />
        1970-71	Tigres del Licey<br />
        1972-73	Tigres del Licey<br />
        1973-74	Tigres del Licey<br />
        1976-77	Tigres del Licey<br />
        1979-80	Tigres del Licey<br />
        1982-83	Tigres del Licey<br />
        1983-84	Tigres del Licey<br />
        1984-85	Tigres del Licey<br />
        1990-91	Tigres del Licey<br />
        1993-94	Tigres del Licey<br />
        1998-99	Tigres del Licey<br />
        2001-02	Tigres del Licey<br />
        2003-04	Tigres del Licey<br />
        2005-06	Tigres del Licey<br />
        2008-09	Tigres del Licey<br />
        2013-14	Tigres del Licey<br />
        2016-17	Tigres del Licey<br />
    </div>
</body>
</html>
