
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fundadores</title>
</head>
<body>
    <div>
        <h1>Fundadores Tigres del Licey</h1>
        <ol>
            <li>George y Cuncún Pou</li>
            <li>Luis y Federico Fiallo</li>
            <li>Luis y Pinchán Vallejo</li>
            <li>Luis Castillo</li>
            <li>Salvador Piñeyro</li>
            <li>Álvaro Álvarez</li>
            <li>Tutú Martínez</li>
            <li>Ángel y Chichi Mieses</li>
            <li>Arturo Perdomo</li>
            <li>Bi Sánchez</li>
            <li>Virgilio Abreu</li>
            <li>Alberto Peña</li>
            <li>Arturo Nolasco y Tulio Piña</li>
        </ol>
    </div>
</body>
</html>
