
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Club Tigres del Licey</h1>

        El equipo de los Tigres del Licey son el mejor equipo dominicano, fue el primero en ganar la corona de la Liga Dominicana en 1951, el mismo año que fue fundada. Es el único club que le ha ganado a todos los equipos de LIDOM en series finales (dominan a las Águilas Cibaeñas con 11-10; a los Leones del Escogido con 6-3; a las Estrellas Orientales con 2-1; a los Gigantes del Cibao con 2-0 y están empatados con los Toros del Este con 1-1). <br /><br />

        En Series del Caribe además de ser el equipo más ganador de todos los tiempos, los Tigres del Licey tienen el honor de ser el primer representante dominicano en una serie (1970).

    </div>
</body>
</html>
